<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="shortcut icon" href="/images/okayama.png" type="image/png" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport"
		content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">

	<title>Offline JPLAS</title>

	<link rel="stylesheet" href="../css/skyblue.css">
	<link rel="stylesheet" href="/javascripts/demo/css/docs.css">
	<link rel="stylesheet" href="/javascripts/demo/google-code-prettify/prettify.css">

	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/jplas2015.js"></script>
	<script src="/javascripts/sha256.js" type="text/javascript"></script>
	<script type="text/javascript" src="/javascripts/storage.js"></script>
	<script type="text/javascript" src="/javascripts/distinction.js"></script>
	<script type="text/javascript">

		baseTxt = location.href.split("?")[1];

		$(function () {
			setTotalCount();
			distinction();
		});

		/**
		 * set total count for home call
		**/ 
		function setTotalCount() {
			var totalAnswerCount = localStorage.getItem("totalAnswerCount") || 0;
			document.getElementById("totalAnswerCount").innerHTML = totalAnswerCount;
			console.log('Total Answer Count -> Home ', totalAnswerCount);
		}

	</script>
	<style>
		h2#statement:before {
			content: "Problem #";
		}

		code.fillinblank input {
			width: 40px;
		}

		code {
			-moz-tab-size: 4;
			-o-tab-size: 4;
			tab-size: 4;
		}
	</style>



</head>

<body>

	<div class="bg-dark padding-y-20">
		<div class="container text-center">
			<h1>Offline JPLAS</h1>

			<a class="btn btn-success" href="/java_programming">TOP</a>
			<a class="btn btn-info" onclick="window.open('about:blank','_self').close()">END</a>
			<!-- <div class="jplas" src="login/whoami.jsp"></div> -->
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col md-3">
				<div class="sidemenu js-sidemenu">
					<h5>Sidemenu</h5>
					<div>
						<a href="#problems">Problems</a>
						<br />
						<a href="#submission">Submission</a>
						<!-- <a href="#end">End</a> -->

					</div>
				</div>
			</div>
			<div class="col md-9 float-right jplas">
				<div class="row">
					<h2 id="list">Problems</h2>
				</div>
				<div class="token row">
					<div class="col md-6">
					</div>
					<div class="col md-6">
						<div class="row">
							<div class="col md-8 margin-top-10 text-right" style="font-size:19px">Total Answer counts :
								<span id="totalAnswerCount">0</span>
							</div>
							<div class="col md-4">
								<a href="javascript:resetCount()" class="btn btn-error">Clear</a>
							</div>
						</div>
						
						
					</div>
					
				</div>
               <!--  Ke San's code
				<div class="token" style="left:70%;">
					<div class="btn2" style="left: 60%;margin-top: 50px;">
						Total Answer counts:<span style="margin-left: 10px;" id="zdti">0</span> 
					</div>
					<div class="btn1" style="left: 73%;margin-top: 45px;" >
						Clear   
					</div>
					
				</div> -->

				<div class="row">
					<table class="table table-striped table-bordered table-hover">

						<tr>
							<th>Problem No</th>
							<th>ProblemName</th>
							<th>Remark</th>
						</tr>

						<% for(var i=0; i < problems.length; i++) { %>

							<tr onclick="onGoProblem('<%= i + 1 %>')">
								<td width="20%">
									<%= i + 1 %>
								</td>
								<td width="50%">
									<%= problems[i] %>
								</td>
								<td id="p0116" width="30%"></td>
							</tr>

							<% } %>

					</table>
				</div>


				<h2 id="submission">Submission</h2>
				<code>1</code>
				<div id="user"><input class="form-control" id="student_ID" type="text" placeholder="Student ID"></div>
				<code>2</code>
				</br><a class="btn" onclick="expression()">Show Record</a>
				<textarea readonly onclick="this.focus();this.select()" class="form-control" id="show_result" value="b"
					placeholder="Your Record"></textarea>
				<code>3</code>
				</br><a class="btn btn-success" onclick="Save()">Save</a>
				<a id='DL_link'></a>


			</div>

		</div>
	</div>

	<script type="text/javascript" src="/javascripts/scoring.js"></script>
	<script type="text/javascript" src="/sweetalert2/dist/sweetalert2.all.min.js"></script>
	<script type="text/javascript" src="/javascripts/programming.home.js"></script>
	<script src="demo/js/jquery.sticky-kit.min.js"></script>
	<script src="/javascripts/demo/google-code-prettify/prettify.js"></script>
	<script src="/javascripts/demo/js/docs.js"></script>
</body>

</html>