<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/img/okayama.png" type="image/png" />


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  <!-- font awesome 5 free -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <!-- Poppins font from Google -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="stylesheets/app.css">


  <title>Manual for PLAS</title>
</head>

<body>


    <!--home ================================ -->

    <!--home ================================ -->
	<div class="offer-alert">
		<div class="offer-alert__container container">
		  <a href="/" class="offer-alert__btn">Home</a>
		  <!-- <a href="/c_programming" class="offer-alert__btn">C and C++ Programming</a> -->
		  <a href="/python_programming" class="offer-alert__btn">Programming Exercises</a>
		  <!-- <a href="/js_programming" class="offer-alert__btn">JavaScript Programming</a>
		  <a href="/python_programming" class="offer-alert__btn">Python Programming</a> -->

		</div>
	  </div>
				 
			<!-- Exercise Problems for JavaScript Programming-->

				<div id="features" class="block-11 space-between-blocks">
				<div class="container">
				<h2> Manuals for PLAS </h2>
				<br><br> 
				
												
				<!-- Value Trace Problem (VTP)

				<h6><b> Value Trace Problem (VTP)</b> </h6>-->

				<!-- <p><a href="/EFP">Firefox Setting for offline PLAS </a></p> 
				<p><a href="/GUP_manual.pdf">Grammar-Concept Understanding Problem (GUP)</a></p> 
				<p><a href="/VTP_manual.pdf">Value Trace Problem (VTP)</a></p> 
				<p><a href="/EFP_manual.pdf">Firefox Setting & Element Fill-in-blank Problem (EFP) +日本語</a></p> 
				<p><a href="/J_CWP_manual.pdf">Code Writing Problem (CWP) for Java</a></p> 
				 -->
         <header>
          <ul style="list-style-type:square">
            <h4>
            <% files.map(file => { %>
              <li>
                <a href="<%= file.url %>"><%= file.name %></a><br><br>
              </li>
            <% }) %>
            </h4>
          </ul>
        </header>


				</div>
			  </div>

			<!-- ======================================== -->
 
  <!-- =================================== -->

  <script src="./javascripts/app.js"></script>


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

</body>

</html>
