<!doctype html>                     
<html lang="en">
<head>
    <%- include('partials/header'); -%>        
    <link rel="shortcut icon" href="/img/okayama.png" type="image/png" />                         
        <title>Exercise Programming</title>
</head>

<body>     
                                  
    <!--home ================================ -->
    <!-- <div class="offer-alert">
        <div class="offer-alert__container container">
            <a href="/" class="offer-alert__btn">HOME</a>
            <a href="/c_programming" class="offer-alert__btn">C and C++ Programming</a>
            <a href="/java_programming" class="offer-alert__btn">Java Programming</a>
            <a href="/js_programming" class="offer-alert__btn">JavaScript Programming</a>
            <a href="/python_programming" class="offer-alert__btn">Python Programming</a>
        </div>
    </div> -->

    <div class="offer-alert">
        <div class="offer-alert__container container">
          <a href="/" class="offer-alert__btn">Home</a>
          <a href="/manual" class="offer-alert__btn">Manuals</a>

        </div>
      </div>

    <!-- ===================================== -->

    <div id="features" class="block-11 space-between-blocks">
        <div class="container">

            <div class="row align-items-center justify-content-center flex-column-reverse flex-lg-row px-2">
                <div class="col-lg-4 col-xl-5 p-lg-5">
                    <img class="w-100" src="/img/img-3.png">
                </div>
                <div class="col-lg-8 col-xl-6">
                    <div class="row">
                        <!-- <div class="col-md-6 mb-2-1rem">
                            <div class="card-1 card-1--selected text-center">
                                <span class="card-1__symbol mx-auto mb-4">
                                    <i class="fas fa-cog"></i>
                                </span>
                                <h3 class="card-1__title mb-2">
                                    <a href="/c_programming">Exercise Problems for C and C++
                                        Programming
                                    </a>
                                </h3>
                                <p class="card-1__paragraph">

                                </p>
                            </div>
                        </div> -->
                        <div class="col-md-6 mb-2-1rem">
                            <div class="card-1 text-center">
                                <span class="card-1__symbol mx-auto mb-4">
                                    <i class="fas fa-database"></i>
                                </span>
                                <h3 class="card-1__title mb-2">
                                    <a href="/python_programming">Exercise
                                        Problems for Python Programming
                                    </a>
                                </h3>
                                <p class="card-1__paragraph">

                                </p>
                            </div>
                        </div>
                        <!-- <div class="col-md-6 mb-2-1rem">
                            <div class="card-1 text-center">
                                <span class="card-1__symbol mx-auto mb-4">
                                    <i class="fas fa-cog"></i>
                                </span>
                                <h3 class="card-1__title mb-2"><a href="/python_programming">Exercise
                                        Problems for Python Programming</a></h3>
                                <p class="card-1__paragraph">

                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2-1rem">
                            <div class="card-1 text-center">
                                <span class="card-1__symbol mx-auto mb-4">
                                    <i class="fas fa-database"></i>
                                </span>
                                <h3 class="card-1__title mb-2"><a href="/js_programming">
                                        Exercise Problems for JavaScript Programming</a></h3>
                                <p class="card-1__paragraph">

                                </p>
                            </div>
                        </div> -->


                        <div class="col-md-6 mb-2-1rem">
                            <div class="card-1 text-center">
                              <span class="card-1__symbol mx-auto mb-4">
                                <i class="fas fa-database"></i>
                              </span>
                              <h3 class="card-1__title mb-2"><a href="/manual"> Manuals for PLAS</a></h3>
                              <p class="card-1__paragraph">
                               
                              </p>
                            </div>
                          </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer'); -%>

</body>

</html>