<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="/img/okayama.png" type="image/png" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
	<!-- font awesome 5 free -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

	<!-- Poppins font from Google -->
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="stylesheets/app.css">

	<title>Java of PLAS</title>
</head>

<body>


	<!--home ================================ -->
	<div class="offer-alert">
		<div class="offer-alert__container container">
		  <a href="/" class="offer-alert__btn">Home</a>
		  <!-- <a href="/c_programming" class="offer-alert__btn">C and C++ Programming</a> -->
		  <!-- <a href="/java_programming" class="offer-alert__btn">Java Programming</a> -->
		  <!-- <a href="/js_programming" class="offer-alert__btn">JavaScript Programming</a>
		  <a href="/python_programming" class="offer-alert__btn">Python Programming</a> -->
		  <a href="/manual" class="offer-alert__btn">Manuals</a>

		</div>
	  </div>

	<!-- Exercise Problems for Python Programming-->

	<div id="features" class="block-11 space-between-blocks">
		<div class="container">
			<h2> Exercise Problems for Python Programming</h2>
			<br><br>
			<h6><b> Grammar-Concept Understanding Problem (GUP) </b> </h6>
			<p><a href="python_programming/Python_GUP_basic">Basic Grammar (P_GUP1)</a></p>

			<!-- Value Trace Problem (VTP)-->
			<h6><b> Value Trace Problem (VTP)</b> </h6>
			<p><a href="python_programming/Python_VTP_basic">Basic Grammar (P_VTP1)</a></p>
			<p><a href="python_programming/Python_VTP_advance">Advanced Grammar (P_VTP2)</a></p>
			<p><a href="python_programming/Python_VTP_algorithm">Data Structure & Algorithms (P_VTP3)</a></p>
			<p><a href="python_programming/Python_VTP_library_Numpy">Numpy Library Use (P_VTP4)</a></p>
			<p><a href="python_programming/Python_VTP_library_Pandas">Pandas Library Use (P_VTP5)</a></p>

			<!-- Code Modification Problem (CMP)-->
			<h6><b> Code Modification Problem (CMP)</b> </h6>
			<p><a href="python_programming/Python_CMP_Pandas_graph">Pandas Library for Graph Plot (P_CMP1)</a></p>
			<p><a href="python_programming/Python_CMP_Pandas_graph_project">Project Assignment for Pandas Library for Graph Plot (P_CMP1_PJ)</a></p>
			<p><a href="python_programming/Python_CMP_Pandas_Excel">Pandas Library for Excel Use (P_CMP2)</a></p>
			<p><a href="python_programming/Python_CMP_Pandas_Excel_project">Project Assignment for Pandas Library for Excel Use (P_CMP2_PJ)</a></p>

			<!-- Code Writing Problem (CWP)-->
			<h6><b> Code Writing Problem (CWP)</b> </h6>
			<p><a href="python_programming/Python_CWP_basic">Basic Grammar</a></p>
			<p><a href="python_programming/Python_CWP_dataStructure">Data Structure & Algorithms</a></p>


			<!-- <p><a href="Python_reference/Reference_P_VTP1.pdf" target="_blank">Reference for P_VTP1</a></p>
			<p><a href="Python_reference/Reference_P_VTP2.pdf" target="_blank">Reference for P_VTP2</a></p>				
			<p><a href="Python_reference/Reference_P_VTP4.pdf" target="_blank">Reference for P_VTP4</a></p>
			<p><a href="Python_reference/Reference_P_VTP5.pdf" target="_blank">Reference for P_VTP5</a></p> -->
			

			
		</div>

	</div>

	<script src="/./javascripts/app.js"></script>

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>

</body>

</html>